body {
    background-color: aquamarine;
}

.box {
    background-color: orange;
    height: 40vh;
}

.box1 {
    background-color: olive;
    height: 100%;
}

.box2 {
    background-color: violet;
    height: 100%;
}

.box3 {
    background-color: aqua;
    height: 100%;
}

.box4 {
    background-color: red;
    height: 100%;
}